body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    background: linear-gradient(90deg, #008080, #4CAF50);
    color: white;
    margin: 0;
    padding: 25px 0;
    font-size: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

form {
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
}

form label {
    display: inline-block;
    width: 180px;
    font-weight: bold;
    margin-bottom: 10px;
}

form input {
    width: 60px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}

.image-container {
    order: -1;
}

button {
    background: linear-gradient(90deg, #008080, #4CAF50);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background: linear-gradient(90deg, #4CAF50, #802d00);
}

#resultados {
    padding: 28px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ffffff;
    box-shadow: 0 2px 4px #4caf50;
    border-radius: 8px;
    max-width: 800px; /* Cambiado para hacer los resultados más grandes */
    margin: 30px auto;
    color: orangered;
    text-align: center; /* Asegúrate de que los resultados estén centrados */
}

#calendar {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    background: linear-gradient(90deg, #008080, #4CAF50);
    color: #fff;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
    border-top: 5px solid #3F51B5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}

footer p {
    margin: 0;
    padding: 0;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.footer-link:hover {
    border-bottom: 2px solid #fff;
}

@media (max-width: 767px) {
    form {
        padding: 20px;
        margin: 20px;
    }

    form label {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

    form input {
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    #resultados {
        margin: 20px;
    }

    .form-container {
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        order: -1;
    }
}
@media (min-width: 768px) {
    form {
        width: 70%; /* Esto hará que el formulario sea más ancho en pantallas más grandes */
        min-height: 70%; /* Esto mantiene un aspecto cuadrado al asignar una altura mínima */
    }
}





