body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100%;
    overflow-x: hidden;
}

h1 {
    background: linear-gradient(90deg, #008080, #4CAF50);
    color: white;
    margin: 0;
    padding: 25px 0;
    font-size: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

form {
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 60%;
    margin-bottom: 30px;
    border: 4px solid #008080;
    margin: 20px auto; /* Añadido margen superior e inferior para separarlo del título */
}

form label {
    display: block;
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: -39px;
}

.image-container {
    order: -1;
}

button {
    background: linear-gradient(90deg, #008080, #4CAF50);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background: linear-gradient(90deg, #4CAF50, #802d00);
}

#resultados {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ffffff;
    box-shadow: 0 2px 4px #ffffff;
    border-radius: 8px;
    max-width: 800px;
    margin: 30px auto;
    color: orangered;
    text-align: center;
}


    #calendar {
        max-width: 100%; /* El calendario ocupará el ancho máximo disponible */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 10px;
    }


footer {
    background: linear-gradient(90deg, #008080, #4CAF50);
    color: #fff;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
    border-top: 5px solid #3F51B5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}

footer p {
    margin: 0;
    padding: 0;
}

/* Estilos para los enlaces del footer */
.footer-link {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.footer-link:hover {
    border-bottom: 2px solid #fff;
}
/* Media query para pantallas grandes */
@media (min-width: 1024px) {
    #calendar {
        max-width: 60%; /* Reduces el ancho del calendario en pantallas grandes */
    }
}

/* Media queries para la responsividad en dispositivos móviles */
@media (max-width: 767px) {
    body {
        font-size: 80%;
    }

    h1 {
        padding: 15px 0;
    }

    form {
        padding: 30px;
        margin: 20px;
        width: 100%;
        max-width: 100%;
        border: 4px solid #008080;
    }

    form label {
        display: block;
        width: 100%;
        font-weight: bold;
        margin-bottom: 5px;
    }

    form input {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

    button {
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    #resultados {
        margin: 20px;
        max-width: 100%;
    }

    .form-container {
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        order: -1;
    }

    footer {
        padding: 10px;
    }

    footer p {
        font-size: 12px;
    }

    .footer-link {
        font-size: 12px;
    }
}
